{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": [
    "prettier-plugin-sort-imports",
    "prettier-plugin-organize-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ]
}
